* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #2b164f;
  font-family: "Montserrat";
}

.fundo {
  background-color: #e1dcdc;
  height: 400px;
  width: 355px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #190d2e;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

input {
  width: 62px;
  height: 62px;
  background-color: #9da3af;
  border: none;
  color: black;
  border-radius: 10px;
  outline: none;
  margin: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  cursor: pointer;
}

.textview {
  width: 235px;
  background-color: #a2b1a4;
  text-align: center;
}

.batata{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pergunta{
    color: white;
    font-family: "Montserrat";
    text-align: center;
}

.position{
    padding-bottom: 50px;
}
